@font-face {
  font-family: 'Quicksand_Regular_font';
  src: url('/fonts/Quicksand_Dash.otf');
  src: url('/fonts/Quicksand-Bold.otf');
  src: url('/fonts/Quicksand-BoldItalic.otf');
  src: url('/fonts/Quicksand-Italic.otf');
  src: url('/fonts/Quicksand-Light.otf');
  src: url('/fonts/Quicksand-LightItalic.otf');
  src: url('/fonts/Quicksand-Regular.otf');

  //font-weight: normal;
  font-style: normal;
  font-weight: 400;
}


/*

@font-face {
  font-family: 'Certificate';
  src: url('/fonts/Certificate.ttf');

    font-weight: normal;
    font-style: normal;
}
*/
